@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

a {
    color: #0061AD;
}

a:hover {
    color: #318EF0;
}

.Mi_scroll {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Mi_body {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 40px 0;
    font-family: Garamond, Play;
    font-size: 18px;
}

.Mi_wrapper {
    min-height: 100%;
    width: 100%;
}

.Mi_header {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d7d7d7;
}

.Mi_footer {
    position: fixed;
    z-index: 9998;
    left: 0;
    bottom: 0;
    padding: 0;
    height: 40px;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #d7d7d7;
}

.Mi_container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 640px;
    padding: 10px 20px;
}

.Mi_navi {
    height: 100px;
    width: 100%;
    background-color: #e7e7e7;
}

.Mi_navi_container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 120px;
}

.Mi_navi_container .navbar-header {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100px;
    width: 120px;
    background-color: #e9f9f9;
}

.Mi_navi_list {
    margin: 0;
    padding: 0;
}

.Mi_navi_element {}

.Mi_navi_element.active {}

.Mi_navi_link {}

.Mi_row {}

.Mi_cell {
    padding-bottom: 10px;
}

.Mi_pph {
    margin: 0;
    padding: 0;
}

.Mi_title_i {
    margin: 0 0 20px;
}

.Mi_title_ii {
    margin: 0 0 15px;
}

.Mi_title_iii {
    margin: 0 0 15px;
}

.Mi_title_iv {
    margin: 0 0 10px;
}

.Mi_title_v {}

.Mi_title_vi {}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.Mi_btn {
    font-family: Play;
    font-size: 14px;
}


/** table_crud */

.Mi_crud_table {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    max-height: 500px;
    width: 500px;
    padding: 52px 0;
}

.Mi_crud_form {
    position:absolute;
    z-index:1;
    box-sizing:border-box;
    right:4px;
    top:4px;
    padding:8px 16px;
    width:300px;
    margin:0 0 10px;
    border:1px solid #e7e7e7;
    transform: scale(0);
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.Mi_section {
    padding: 44px 0;
}
.Mi_section__header {
    box-sizing: border-box;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 1px solid #d7d7d7;
    height: 44px;
    width: 100%;
    padding: 8px;
}
.Mi_section__body {
    padding: 8px;
}
.Mi_section__footer {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 44px;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    padding: 8px;
    text-align: right;
}
.Mi_section__footer .Mi_btnGroup {
    margin: 0;
}

.Mi_crud_form.show {
    transition-property: transform;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transform: scale(1);
}

.Mi_crud_table__header {
    box-sizing: border-box;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 1px solid #d7d7d7;
    height: 44px;
    width: 100%;
    padding: 8px;
}

.Mi_crud_table__body {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    width: 100%;
    overflow-y: auto;
}

.Mi_crud_table__footer {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 44px;
    width: 100%;
    border-top: 1px solid #d7d7d7;
    padding: 8px;
    text-align: right;
}

.Mi_crud_table__title {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-family: Play;
    font-size: 22px;
}

.Mi_crud_table__ctrl {
    display: inline-block;
    vertical-align: middle;
}

.Mi_pre_layout {
    padding: 10px;
}

.Mi_pre {
    display: inline-block;
    vertical-align: top;
    padding: 20;
    border: 1px solid #e7e7e7;
    font-family: 'Play';
    letter-spacing: 0.05em;
}
