@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

a {
    color: #0061AD;
}

a:hover {
    color: #318EF0;
}

.Mi_scroll {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.Mi_body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Play;
}

.Mi_wrapper {
    min-height: 100%;
    width: 100%;
}

.Mi_header {
    height: 100px;
    width: 100%;
    background-color: #e7e7e7;
    border-bottom: 1px solid #b7b7b7;
}

.Mi_footer {
    position: relative;
    z-index: 1;
    margin: -101px 0 0 0;
    padding: 0;
    height: 100px;
    width: 100%;
    background-color: #e7e7e7;
    border-top: 1px solid #b7b7b7;
}

.Mi_container {
    padding: 10px 20px;
}

.Mi_navi {
    height: 100px;
    width: 100%;
    background-color: #e7e7e7;
}

.Mi_navi_container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 120px;
}

.Mi_navi_container .navbar-header {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100px;
    width: 120px;
    background-color: #e9f9f9;
}

.Mi_navi_list {
    margin: 0;
    padding: 0;
}

.Mi_navi_element {}

.Mi_navi_element.active {}

.Mi_navi_link {}

.Mi_row {}

.Mi_cell {
    padding-bottom: 10px;
}

.Mi_pph {
    margin: 0;
    padding: 0;
}

.Mi_title_i {
    margin: 0 0 20px;
}

.Mi_title_ii {
    margin: 0 0 15px;
}

.Mi_title_iii {
    margin: 0 0 15px;
}

.Mi_title_iv {
    margin: 0 0 10px;
}

.Mi_title_v {}

.Mi_title_vi {}

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w33 {
    width: 33%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

.Mi_btn {
    font-family: Play;
    font-size: 14px;
}


/** table_crud */

.Mi_crud_table {
    position: relative;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    max-height: 500px;
    width: 500px;
    padding: 52px 0;
}

.Mi_crud_table__header {
    box-sizing: border-box;
    text-align: right;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-bottom: 1px solid #e7e7e7;
    height: 52px;
    width: 100%;
    padding: 8px;
}

.Mi_crud_table__body {
    box-sizing: border-box;
    padding: 10px;
    display: block;
    height: 394px;
    width: 100%;
    overflow-y: scroll;
}

.Mi_crud_table__footer {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    height: 52px;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    padding: 8px;
    text-align: right;
}

.Mi_crud_table__title {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 0;
    font-family: Play;
    font-size: 22px;
}

.Mi_crud_table__ctrl {
    display: inline-block;
    vertical-align: middle;
}